<div class="participant">
	<div class="pager-title">
  	<h1>Tholos</h1>
    <a href="#/landingParticipant" class="icon icon-back"></a>
  </div>
  <div class="panel panel-testing">
  	<div class="panel-header">
  		<h3 class="icon icon-test-prototype">Test a Prototype</h3>
    </div>
    <!--/ .panel-header -->
    <div class="panel-body">
    	<div class="widget last">
      	<div class="flyout-error" data-ng-show="submitted && !code">
        	<p class="icon icon-error">Please enter the Prototype Code.</p>
        </div>
        <div class="flyout-error" data-ng-show="submitted && codeNotFound">
          <p class="icon icon-error">The Prototype Code cannot be found.</p>
        </div>
        <!--/ .error -->
      	<form name="testPrototypeForm">
          <div class="form-control">
            <label>Enter the Prototype Code being tested</label>
            <div class="input-control">
              <input type="text" data-ng-model="code" name="code" placeholder="Prototype code" required="required" data-alpha-numeric-only="alpha-numeric-only" data-ng-class="{'error': submitted && (testPrototypeForm.code.$invalid || codeNotFound)}" />
            </div>
          </div>
          <!--/ .form-control -->
        </form>
      </div>
      <!--/ .widget -->
      <div class="buttons-group">
      	<a href="javascript:;" class="button button-save icon icon-save" data-ng-click="submitQuery();">SAVE</a>
      </div>
      <!--/ .buttons-group -->
    </div>
    <!--/ .panel-body -->
  </div>
  <!--/ .panel -->
</div>
<!--/ .Participant -->